* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #191919;
    color: bisque;
    font-size: calc(100vw / 125);
}
header{
    margin: 0 0 50px 0;
    width: 100%;
}
nav{
    width: 100%;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}
.menu li:not(.sub-menu li){
    position: relative;
    text-transform: uppercase;
    width: calc(100% / 7);
    background-color: #241313;
    height: 50px;
    padding: 0 10px;
    text-align: left;
}
.icona{
    display: flexbox;
    height: 180px;
    width: 10%;
    background: url(asset/img/icona.png);
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 15px 0;
}
a{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sub-menu{
    position: absolute;
    width: 70%;
    background: #362727;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    min-height: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    text-align: left;
    padding-left: 20px;
    list-style-type: disc;
    overflow: hidden;
    text-overflow: ellipsis;
}
li:hover .sub-menu{
    top: 100%;
    visibility: visible;
    opacity: 1;
}
section{
    width: 100%;
    text-align: center;
}